body {
    background-color: #EEE;
    color: black;
}

section {
    position: fixed;
    width: 100%;
    bottom:0;
}

#mensage {
    padding: 10px;
    color: #EEE;
    font-size: 14px;
}

#status {
    padding: 15px;
    font-size: 14px;
    color:#FFF;
}

#msg {
    color:#FFF;
    background-color:slategrey;
    border: none;
}

#usu {
    color:#FFF;
    background-color:slategrey;
    border: none;
}